@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div.content {
    min-height: 10vh;
    width: 100%;
}

#classtext {
    color: white;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}

#biograpy {
    text-align: center;
    width: 90%;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

#classicon {
    width: 50%;
}

div.agent-imgandinfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#agentimage {
    width: 100%;
}

.skillcontainer {
    display: flex;
    width: 95%;
    margin: auto;
    min-height: 20vh;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.videocontainer {
    width: 50%;
}
#skillicon {
    width: 25%;
}
.half {
    width: 100%;
}
#skillname {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 150%;
}
#skillinfo {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}
.btncontain {
    width: 20%;
    margin: auto;
    text-align: center;
}
#btn1, #btn2, #btn3, #btn4 {
    width: 100%;
}
.iconedeskill {
    background-color: rgb(255, 70, 85);
    padding: 4px;
    border: solid black 1px;
    border-radius: 10px;
    width: 100%;
    transition-duration: 0.3s;
    box-shadow: 5px 5px 4px rgba(255, 70, 86, 0.452);
}
.iconedeskill:hover {
    background-color: black;
    box-shadow: 10px 10px 10px rgba(255, 70, 86, 0.452);
}

.selected {
    background-color: black;
    box-shadow: 15px 15px 4px rgba(255, 70, 86, 0.452);
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    position: relative;
}

#screen {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.205) 15px 15px 4px;
}

@media (max-width: 1023px){
    #biograpy {
        max-width: 90vw;
    }
    .half {
        max-width: 90vw;
    }
    .videocontainer {
        width: 90%;
    }
    #skillicon {
        width: 50%;
    }
    #agentimage {
        width: 80%;
    }
}

@media (min-width: 1024px){
    #biograpy {
        max-width: 40vw;
    }
    .half {
        max-width: 40vw;
    }
}