/* FORMATAÇÃO */
@charset "UTF-8";

/* TUDO */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABECALHO */
header {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
}
.header {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    width: 100%;
    margin: auto;
    text-decoration: none;
}

/* PRIMEIRA SEÇÃO */
section.start {
    position: relative;
}
div.bg-video-container {
    width: 100%;
}
div.bg-video-container > video {
    width: 100%;
}
div.start-section-content-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 90%;
    height: 90%;
}
p.start {
    width: 100%;
    color: white;
    font-size: 2em;
    text-align: center;
}
h1.start {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 4em;
}
/* BOTÃO DA PRIMEIRA SEÇÃO */
a.start-section-btn {
    background-color: rgb(255, 70, 85);
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.3s;
    width: 30%;
    line-height: 200%;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
}

/* CONFIGURAÇÃO EXTRA PARA CELULARES */
@media (max-width: 1023px){
    
}