/* FORMATAÇÃO */
@charset "UTF-8";

/* TUDO */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABECALHO */
header {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
}
.header {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    width: 100%;
    margin: auto;
    text-decoration: none;
}

/* SEÇÃO INICIAL */
section.start {
    position: relative;
}
div.bg-video-container {
    width: 100%;
}
div.bg-video-container > video {
    width: 100%;
}
div.start-section-content-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 90%;
    height: 90%;
}
p.start {
    width: 100%;
    color: white;
    font-size: 2em;
    text-align: center;
}
h1.start {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 4em;
}
/* BOTÃO DA SEÇÃO INICIAL */
a.start-section-btn {
    background-color: rgb(255, 70, 85);
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.3s;
    width: 30%;
    line-height: 200%;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
}
a.start-section-btn:hover {
    background-color: black;
    color: rgb(255, 70, 85);
    box-shadow: 0px 0px 20px rgb(255, 70, 85);
}

/* SEÇÃO AGENTES */
section.agents {
    padding: 10px;
    background-color: rgb(255, 70, 85);
}

/* SEÇÃO MAPAS */
section.maps {
    position: relative;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt0bb2058c88892462/63b8a805ade3a64c67746408/Lotus_Screenshot_1.jpg?auto=webp&width=915');
}
div.maps-section-content-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* CONFIGURAÇÃO EXTRA PARA CELULARES */
@media (max-width: 1023px){
    /* PRIMEIRA SEÇÃO*/
    p.start {
        font-size: 1em;
    }
    h1.start {
        font-size: 2em;
    }
    a.start-section-btn {
        font-size: 1em;
    }
}