@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 70, 85);
}
main {
    margin: auto;
    max-width: 900px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.500);
}
header {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}
.header {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    width: 100%;
    margin: auto;
    text-decoration: none;
}

div.content {
    min-height: 10vh;
    width: 100%;
}
.input {
    width: 90%;
    text-align: center;
    line-height: 200%;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: rgb(255, 70, 85);
}

div.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
p.agentnametext {
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 70, 85);
}
img.agentimage {
    width: 100%;
}
.agentdiv {
    width: 20%;
    text-decoration: none;
}

.hide {
    display: none;
}

@media (max-width: 1023px){
    .agentdiv {
        width: 90%;
    }
}

@media (min-width: 2064px){
    .agentdiv {
        width: 10%;
    }
}