@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

/* Cabeçalho Code */
#MenuCheckBox {
    display: none;
}
img.MenuButton {
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 1px;
}
img.MenuButton:hover {
    background-color: rgb(255, 70, 85);
    border: solid red 2px;
}
header {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.200) 10px 10px 5px;
    align-items: center;
    justify-content: space-around;
}
h1.HeaderGameName {
    color: white;
}
nav {
    position: absolute;
    top: 4%;
    left: -200%;
    background-color: lightgray;
    border-right: solid red 1px;
    min-height: 80vh;
    border-bottom: solid red 1px;
    transition-duration: 1s;
}
#MenuCheckBox:checked ~ nav {
    left: 0%;
}
h1.NavTop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 70, 85);
}
.NavUl {
    width: 100%;
    text-align: center;
}
.NavLi {
    width: 100%;
    text-align: center;
    color: rgb(255, 70, 85);
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 4%;
    transition-duration: 0.5s;
    cursor: pointer;
}
.NavLi:hover {
    background-color: rgb(255, 70, 85);
    color: white;
}
@media (max-width: 1023px){
    nav {
        min-width: 80%;
        max-width: 80%;
    }
    .NavLi {
        font-size: 1.3em;
    }
}
@media (min-width: 1024px){
    nav {
        max-width: 20%;
        min-width: 20%;
    }
    .NavLi {
        font-size: 1.7em;
    }
}
@media (min-width: 2160px){
    nav {
        min-width: 15%;
        max-width: 15%;
    }
    .NavLi {
        font-size: 2.1em;
    }
}
/* Fim */

section.info {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 70, 85);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.skill {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3%;
}
section.trailer {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 70, 85);
}
div.info_info {
    text-align: center;
}
div.info_agent > img {
    width: 100%;
}
p.format {
    font-weight: bolder;
}
.skill_video {
    position: relative;
}
.skill_video > video {
    width: 100%;
}
.skill_selection {
    text-align: center;
}
.buttons_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button_div {
    background-color: rgb(255, 70, 85);
    border: solid black 1px;
    margin: auto;
    transition-duration: 0.5s;
    cursor: pointer;
    width: 50%;
}

/* Celular */
@media (max-width: 1023px){
    div.info_agent {
        width: 90%;
    }
    div.info_info {
        width: 90%;
    }
    p.format {
        font-size: 1.4em;
    }
    .skill_selection {
        width: 90%;
    }
    .skill_video {
        width: 90%;
    }
}

/* PC */
@media (min-width: 1024px){
    div.info_agent {
        width: 35%;
    }
    div.info_info {
        width: 35%;
    }
    p.format {
        font-size: 2em;
    }
    .skill_selection {
        width: 40%;
    }
    .skill_video {
        width: 40%;
    }
}


/* TV */
@media (min-width: 2160px){
    div.info_agent {
        width: 35%;
    }
    div.info_info {
        width: 35%;
    }
    p.format {
        font-size: 2.6em;
    }
    .skill_selection {
        width: 40%;
    }
    .skill_video {
        width: 40%;
    }
}