@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

/* Cabeçalho Code */
#MenuCheckBox {
    display: none;
}
img.MenuButton {
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 1px;
}
img.MenuButton:hover {
    background-color: rgb(255, 70, 85);
    border: solid red 2px;
}
header {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.200) 10px 10px 5px;
    align-items: center;
    justify-content: space-around;
}
h1.HeaderGameName {
    color: white;
}
nav {
    position: absolute;
    top: 4%;
    left: -200%;
    background-color: lightgray;
    border-right: solid red 1px;
    min-height: 80vh;
    border-bottom: solid red 1px;
    transition-duration: 1s;
}
#MenuCheckBox:checked ~ nav {
    left: 0%;
}
h1.NavTop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 70, 85);
}
.NavUl {
    width: 100%;
    text-align: center;
}
.NavLi {
    width: 100%;
    text-align: center;
    color: rgb(255, 70, 85);
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 4%;
    transition-duration: 0.5s;
    cursor: pointer;
}
.NavLi:hover {
    background-color: rgb(255, 70, 85);
    color: white;
}
@media (max-width: 1023px){
    nav {
        min-width: 80%;
        max-width: 80%;
    }
    .NavLi {
        font-size: 1.3em;
    }
}
@media (min-width: 1024px){
    nav {
        max-width: 20%;
        min-width: 20%;
    }
    .NavLi {
        font-size: 1.7em;
    }
}
@media (min-width: 2160px){
    nav {
        min-width: 15%;
        max-width: 15%;
    }
    .NavLi {
        font-size: 2.1em;
    }
}
/* Fim */

body {
    overflow: hidden;
}
div.PlayValorant {
    position: relative;
    min-height: 80vh;
    overflow: hidden;
}
#BackgroundVideo {
    position: absolute;
    top: 0;
    
    height: 100%;
}
section.TextOnTop {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.play_div1 {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.play_div2 {
    height: 60%;
    width: 100%;
}
.a5v5game {
    color: white;
    width: 100%;
    text-align: center;
}
.GameNameBig {
    color: white;
    text-align: center;
    width: 100%;
}

/* Celular */
@media (max-width: 1023px){
    .GameNameBig {
        font-size: 3em;
    }
    .a5v5game {
        font-size: 2em;
    }
}

/* PC */
@media (min-width: 1024px){
    .GameNameBig {
        font-size: 5em;
    }
}


/* TV */
@media (min-width: 2160px){
    .GameNameBig {
        font-size: 8em;
    }
}