@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

/* Cabeçalho Code */
#MenuCheckBox {
    display: none;
}
img.MenuButton {
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 1px;
}
img.MenuButton:hover {
    background-color: rgb(255, 70, 85);
    border: solid red 2px;
}
header {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.200) 10px 10px 5px;
    align-items: center;
    justify-content: space-around;
}
h1.HeaderGameName {
    color: white;
}
nav {
    position: absolute;
    top: 4%;
    left: -200%;
    background-color: lightgray;
    border-right: solid red 1px;
    min-height: 80vh;
    border-bottom: solid red 1px;
    transition-duration: 1s;
}
#MenuCheckBox:checked ~ nav {
    left: 0%;
}
h1.NavTop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 70, 85);
}
.NavUl {
    width: 100%;
    text-align: center;
}
.NavLi {
    width: 100%;
    text-align: center;
    color: rgb(255, 70, 85);
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 4%;
    transition-duration: 0.5s;
    cursor: pointer;
}
.NavLi:hover {
    background-color: rgb(255, 70, 85);
    color: white;
}
@media (max-width: 1023px){
    nav {
        min-width: 80%;
        max-width: 80%;
    }
    .NavLi {
        font-size: 1.3em;
    }
}
@media (min-width: 1024px){
    nav {
        max-width: 20%;
        min-width: 20%;
    }
    .NavLi {
        font-size: 1.7em;
    }
}
@media (min-width: 2160px){
    nav {
        min-width: 15%;
        max-width: 15%;
    }
    .NavLi {
        font-size: 2.1em;
    }
}
/* Fim */

section.agents {
    background-color: rgb(255, 70, 85);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.agent_div {
    cursor: pointer;
}
img.agent_picture {
    width: 100%;
}
h1.alphabet {
    text-align: center;
    font-weight: bolder;
    color: red;
}

/* Celular */
@media (max-width: 1023px){
    div.agent_div {
        width: 50%;
    }
    h1.alphabet {
        font-size: 2em;
    }
}

/* PC */
@media (min-width: 1024px){
    div.agent_div {
        width: 25%;
    }
    h1.alphabet {
        font-size: 2.8em;
    }
}


/* TV */
@media (min-width: 2160px){
    div.agent_div {
        width: 25%;
    }
    h1.alphabet {
        font-size: 3.9em;
    }
}